.container-full {
    height: calc(250vh - 16px - 56px);
    margin-left: 200px; /* Adjust the value as needed */
    
}

.transition-outline {
    transition: 200ms outline linear;
}

.transite-width {
    transition: 200ms width linear;
}

.custom-scale {
    transition: 200ms transform linear;
    object-fit: cover;

    &:hover {
        transform: scale(1.1);
    }
}

.shadow-card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31);
}

::-webkit-scrollbar {
    width: 0;
}

.select-color {
    color: white;
}

.upload-image-button {
    height: 1000%;
    width: 100%;
    opacity: 0;
    transition: 300ms opacity linear;
    backdrop-filter: blur(5px);
}


.upload-button:hover .upload-image-button {
    opacity: 1;
    
}


.hover-text-overlay:hover .hover-text {
    opacity: 1;
}



